@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;700&display=swap");

$blue: #0f1f47;
$darkBlue: rgb(44, 52, 80);
$white: #ffffff;
$gray: #f5f5f5;
$blackText: #000000;
$whiteText: #ffffff;
$grayText: #a3a3a3;

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
.btn {
  background: $darkBlue;
  color: $white;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

.container {
  padding: 5em 1em 3em 1em;
}

header {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  nav {
    z-index: 99;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: all ease-in 300ms;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -30%;
      li {
        margin-bottom: 4rem;
      }
    }
  }

  .show-menu {
    left: 30%;
  }

  .hamburger {
    z-index: 999;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    span {
      background-color: black;
      width: 30px;
      height: 2px;
    }
  }
}

.cover {
  padding-top: 7rem;
}

.mobile-img {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url(https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=354&q=80);
  height: 25em;
  background-size: cover;
  background-position: center center;
  margin-bottom: -30em;
}

.title {
  margin-left: 1.5rem;
  blockquote {
    font-size: 2.5rem;
    font-weight: 300;
  }
  blockquote::before {
    content: "“";
    position: absolute;
    font-size: 4rem;
    left: 1rem;
  }
  p {
    margin-bottom: 0.3rem;
  }
  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.download {
  width: 80%;
  margin: 13rem auto 0 auto;
  background: $white;
  border: 2px solid $darkBlue;
  padding: 2rem;
  position: relative;
  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
  a {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// Project ==================================================
.project {
  background-color: $gray;
  .project-info {
    background: $white;
  }
  img {
    width: 100%;
  }
  .project-dsc {
    padding: 1rem;
    h3 {
      display: inline-block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 200;
    }
    p {
      font-weight: 500;
    }
  }
}

// Amenities ==================================================

.amenities {
  background-color: $gray;
  .amenities-info {
    background: $white;
  }
  img {
    width: 100%;
  }
  .amenities-dsc {
    padding: 1rem;
    h3 {
      display: inline-block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 200;
    }
    p {
      font-weight: 500;
    }
  }
}

.amenities-cards {
  margin-top: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;

  img {
    max-width: 5rem;
  }
  p {
    margin-top: 0.1rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    font-weight: 200;
  }
  .card {
    background-color: $white;
    min-width: 6.5rem;
    padding: 1rem 0.5rem;
  }
}

.flat-amenities {
  ul {
    margin-top: 1rem;
    display: inline-block;
    list-style: square inside none;
    ::marker {
      color: $darkBlue;
    }
    li {
      margin-bottom: 1rem;
    }
  }
}

// Footer ==================================================

footer {
  background: $blue;
  h2 {
    font-size: 1rem;
    color: $whiteText;
    margin-top: 2rem;
  }
  p {
    color: $grayText;
  }
  .about {
    h2 {
      margin-top: 0;
    }
  }
  button {
    background-color: $gray;
    color: $blackText;
    margin-top: 0rem;
  }
  ul {
    flex-wrap: wrap;
    margin-top: 1rem;
    li {
      a {
        color: $grayText;
        margin-right: 1rem;
      }
    }
  }
  .social {
    h2 {
      margin-bottom: 1rem;
    }
    i {
      margin-bottom: 1rem;
      margin-right: 0.5rem;
      // background-color: $white;
      color: $grayText;
      font-size: 2rem;
    }
  }
  .copyright {
    p {
      font-size: 0.9rem;
      span {
        color: red;
      }
      a {
        color: $whiteText;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 5em 1.5em 3em 1.5em;
  }
  .cover {
    padding-top: 8rem;
  }
  .title blockquote::before {
    left: 1.5rem;
  }
  .download {
    width: 20rem;
  }
  .download-wrapper {
    position: relative;
    right: -5rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 5em 2em 3em 2em;
  }
  header {
    padding: 2rem;
  }
  .cover {
    padding-top: 10rem;
  }
  .title blockquote::before {
    left: 2rem;
  }
  .download-wrapper {
    right: -8rem;
  }
  .project-info {
    display: flex;
    flex-direction: row;
    img {
      height: 100%;
    }
  }
  .amenities-info {
    display: flex;
    flex-direction: row;
    img {
      height: 100%;
      width: 50%;
    }
  }
  .amenities-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    h2 {
      margin-top: 0;
    }
    .content-wrapper {
      display: flex;
    }
    .about {
      margin-right: 2rem;
      flex-grow: 1;
      flex-shrink: 4;
      button {
        margin-bottom: 1rem;
      }
    }
    .navigation {
      margin-right: 2rem;
      flex-grow: 1;
    }
    .social {
      flex-grow: 1;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 5em 5em 3em 5em;
  }

  header {
    padding: 2em 5rem;
    nav {
      padding: 0;
      width: 50%;
      position: relative;
      left: 0;
      ul {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        li {
          display: inline-flex;
          margin-bottom: 0;
          #contact {
            background: $darkBlue;
            color: $white;
            padding: 0.5rem 2rem;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            cursor: pointer;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }

  .cover-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .title {
    blockquote {
      width: 35rem;
      font-size: 4rem;
      font-weight: 400;
    }
    blockquote::before {
      font-size: 6rem;
      left: 5rem;
    }
    p {
      margin-bottom: 0.3rem;
    }
    span {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 100%
      ),
      url(https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=354&q=80);
    height: 30em;
    background-size: cover;
    background-position: center center;
    margin-top: -10em;
  }
  .download-wrapper {
    top: 0;
    right: 0;
  }
  .download {
    padding: 3rem;
    margin: 0;
    background: transparent;
  }

  .amenities-cards {
    grid-template-columns: repeat(6, 1fr);
    p {
      margin-top: 0.7rem;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    padding: 5em 8em 3em 8em;
  }
  header {
    padding: 2em 8rem;
  }
  .title blockquote::before {
    left: 8rem;
  }
  .card {
    background-color: $white;
    min-width: 6.5rem;
    padding: 2rem 3rem;
  }
}
